{
    "db_type": "mysql",
    "mysql": {
        "host": "server_ip",
        "port": 3306,
        "user": "DB_ID",
        "password": "DB_PASSWORD",
        "database": "memo_db"
    },
    "sqlite_path": ""
}
